{% load socialaccount %}
{% load i18n %}
{% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
        {% providers_media_js %}
        <div class="openid_providers">{{ provider.name }}</div>
    {% else %}
        <p>
            <a href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}" class="btn btn-primary" role="button">
                {% blocktrans with provider.name as provider_name %}Iniciar sesión con  {{ provider_name }}{% endblocktrans %}
            </a>
        </p>
    {% endif %}
{% endfor %}

